<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Blog</title>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class=container>
	<th:block th:replace="~{navbar.html::navbar}"></th:block>
	<p th:text="'Adresse demandée : ' + ${query}" />
	<br />
	<p th:text="'Lat : ' + ${gps_x}" />
	<br />
	<p th:text="'Lon : ' + ${gps_y}" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
</body>
</html>